//colores
$titulo: rgb(255, 255, 255); 
$seleccion: rgb(221, 96, 12,);
$colorthead: red;
$colortbody: blue;

//display
$d-flex: flex;
$d-block: block;
$d-ib: inline-block;
$d-grid: grid;

//tamaños
$w-100: 100%;
$w-75: 75%;
$w-20: 20%;
$w-80: 80%;

