.cards {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-area: cards;
    .cards__caja {
        color: white;
        background-color: rgba(90, 29, 148, 0.5);
        padding: 1rem;
        box-sizing: border-box;
        border: double black;
        .cards__caja--titulo {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            text-align: center;
        }
        .cards__caja--tamaño {
            width: $w-100;
        }
        .cards__caja--texto {
            font-size: 1.5rem;
            line-height: 2rem;
            height: 20%;
        }
    }
}
.card-group {
    background-color: rgba(90, 29, 148, 0.5);
    .card {
        background-color: transparent;
        transition: 0.3s;
    }
    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    }
}
/*.servicios {
    background-color: rgba(90, 29, 148, 0.5);
    .servicios__fila {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        .servicios__fila--tamaño {
            width: 20%;
            margin-bottom: 50px;
            transition: 0.3s;
            div {
                display: $d-flex;
                justify-content: center;
                align-items: center;
                img {
                }
            }
            .servicios__fila--titulo {
                padding: 30px 20px;
                text-align: center;
                font-size: 18px;
                display: block;
                p {
                    .textService {
                        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
                            Verdana, sans-serif;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}*/
.tabla__bordes {
    border: 5px;
    text-align: center;
    .tabla__bordes--titulo {
        color: $colorthead;
    }
    .tabla__bordes--contenido {
        color: $colortbody;
        .tabla__contenido--uppercase {
            text-transform: uppercase;
        }
    }
}
.presentaciones__video {
    align-items: center;
    .presentaciones__video--texto {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
        font-size: 2rem;
        text-align: center;
    }
}
.itemVideo {
    width: 100%;
    height: 40vh;
}
.textTitulo {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 3rem;
    color: rgb(90, 29, 148);
    text-align: center;
}
